Practicum6/Connected Services/SOAPService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:65496/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:65496/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:65496/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WebService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetAllProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProducts" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetProductById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetProductById" />
  </wsdl:message>
  <wsdl:message name="IService_GetProductById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetProductByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAll" />
  </wsdl:message>
  <wsdl:message name="IService_GetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetUserById" />
  </wsdl:message>
  <wsdl:message name="IService_GetUserById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetUserByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_RegisterUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUser" />
  </wsdl:message>
  <wsdl:message name="IService_RegisterUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegisterUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_LoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:LoginUser" />
  </wsdl:message>
  <wsdl:message name="IService_LoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllTransactions_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTransactions" />
  </wsdl:message>
  <wsdl:message name="IService_GetAllTransactions_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetTransactionById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionById" />
  </wsdl:message>
  <wsdl:message name="IService_GetTransactionById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTransactionByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CreateNewTransaction_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewTransaction" />
  </wsdl:message>
  <wsdl:message name="IService_CreateNewTransaction_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateNewTransactionResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetAllProducts">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllProducts" message="tns:IService_GetAllProducts_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllProductsResponse" message="tns:IService_GetAllProducts_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetProductById" message="tns:IService_GetProductById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetProductByIdResponse" message="tns:IService_GetProductById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAll" message="tns:IService_GetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllResponse" message="tns:IService_GetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetUserById" message="tns:IService_GetUserById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetUserByIdResponse" message="tns:IService_GetUserById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/RegisterUser" message="tns:IService_RegisterUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/RegisterUserResponse" message="tns:IService_RegisterUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/LoginUser" message="tns:IService_LoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/LoginUserResponse" message="tns:IService_LoginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTransactions">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetAllTransactions" message="tns:IService_GetAllTransactions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetAllTransactionsResponse" message="tns:IService_GetAllTransactions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTransactionById">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetTransactionById" message="tns:IService_GetTransactionById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetTransactionByIdResponse" message="tns:IService_GetTransactionById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewTransaction">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/CreateNewTransaction" message="tns:IService_CreateNewTransaction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/CreateNewTransactionResponse" message="tns:IService_CreateNewTransaction_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllProducts">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllProducts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetProductById">
      <soap:operation soapAction="http://tempuri.org/IService/GetProductById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAll">
      <soap:operation soapAction="http://tempuri.org/IService/GetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetUserById">
      <soap:operation soapAction="http://tempuri.org/IService/GetUserById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegisterUser">
      <soap:operation soapAction="http://tempuri.org/IService/RegisterUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="LoginUser">
      <soap:operation soapAction="http://tempuri.org/IService/LoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTransactions">
      <soap:operation soapAction="http://tempuri.org/IService/GetAllTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTransactionById">
      <soap:operation soapAction="http://tempuri.org/IService/GetTransactionById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewTransaction">
      <soap:operation soapAction="http://tempuri.org/IService/CreateNewTransaction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:65496/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>